.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.h2 {
  padding: 6rem;
  color: black;
  gap: 5rem;
  font-size: 2rem;
  font-family: Inter, 'Arial Narrow Bold', sans-serif;
}
.p {
  font-size: 1.5rem;
  color: black;
  font-family: Inter, 'Arial Narrow Bold', sans-serif;
}
.login,
.register {
  background: blue;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: white;
  gap: 1rem;
}
