.about {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  gap: 2rem;
  margin: 1rem;
  color: rgb(34, 6, 146);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  font-size: 1rem;
  color: rgb(34, 6, 146);
}

p {
  font-size: 0.8rem;
  color: rgba(71, 69, 69, 1);
}
