.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 16rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  &__logo2 {
    width: 4rem;
    height: 5rem;
  }
  .header__menu {
    padding-right: 0.5rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}
