.myPlayers {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 1rem 4rem;

  .myplayersHeaderTitle {
    font-size: 1.5rem;
    color: blue;
  }

  .myplayersCardList {
    width: 100%;
    justify-content: center;
    align-items: center;

    .myplayersCard {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
      gap: 1rem;
    }
  }

  .next {
    width: 2rem;
  }
}
