* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: rgb(33, 33, 171);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
